.MainDiv {
   display: flex;

   /* background-color: lightslategray; */
   height: 100vh;
}
.MiddleSection {
   display: flex;
   justify-content: center;
   flex: 1 auto;
   margin-top: 5em;
   background-color: rgb(42, 42, 42);
   opacity: 0.8;
   text-emphasis-color: white;
   width: 100%;
   height: 80%;
   padding-bottom: 3em;
}
.InputArea {
   height: 30px;
   width: 100px;
}
.searchBtn {
   height: 3em;
   width: 3em;
}
.charting {
   flex: 1 1 auto;
}
.searchBox {
   width: 100%;
   margin: 0 0 2em;
   position: absolute;
   z-index: 1;
}

.searchBar {
   display: block;
   width: 90%;
   padding: 15px;
   margin: 1em auto auto auto;
   appearance: none;
   background: none;
   border: none;
   outline: none;

   background-color: rgba(255, 255, 255, 0.5);
   border-radius: 16px 16px 16px 16px;

   box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

   color: #313131;
   font-size: 20px;

   transition: 0.4s ease;

   background-color: rgba(255, 255, 255, 0.75);
}
.TimeStampButton {
   border-radius: 20px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
   border-bottom-left-radius: 20px;
   width: 5em;
   background-color: aquamarine;
   color: blue;
}
.button1 {
   color: rgb(88, 182, 100);
   height: 3em;
   width: 13em;
   background: none;
   display: inline-block;
   padding: 0.35em 1.2em;
   border: 0.1em solid #ffffff;
   margin: 0 0.3em 0.3em 0;
   border-radius: 0.12em;
   box-sizing: border-box;
   text-decoration: none;
   font-family: "Roboto", sans-serif;
   font-weight: 300;
   text-align: center;
   transition: all 0.2s;
}
.button1:hover {
   color: #000000;
   background-color: rgb(88, 182, 100);
}
.button2 {
   color: rgb(223, 35, 89);
   height: 3em;
   width: 13em;
   background: none;
   display: inline-block;
   padding: 0.35em 1.2em;
   border: 0.1em solid #ffffff;
   margin: 0 0.3em 0.3em 0;
   border-radius: 0.12em;
   box-sizing: border-box;
   text-decoration: none;
   font-family: "Roboto", sans-serif;
   font-weight: 300;
   text-align: center;
   transition: all 0.2s;
}
.button2:hover {
   color: #000000;
   background-color: rgb(223, 35, 89);
}
@media only screen and (max-width: 600px) {
   .button1 {
      height: 3em;
      width: 5em;
      margin: 0.4em auto;
   }
   .button2 {
      height: 3em;
      width: 5em;
      margin: 0.4em auto;
   }
   #chartDiv {
      height: 95%;
   }
}
