.App {
   text-align: center;
   /* background-color: darkblue; */
   /*background-image: url("./pexels-vlado-paunovic-3038740.jpg");*/
   background-color: rgb(60 87 91);
}
html,
body {
   margin: 0;
   padding: 0;
}
#mainTitle {
   color: white;
   margin: 0;
}
.Loading {
   color: white;
   margin: 0;
}
