.App {
   text-align: center;
   /* background-color: darkblue; */
   background-image: url("./pexels-vlado-paunovic-3038740.jpg");
   height: 100vh;
   width: 100vw;
}
html,
body {
   margin: 0;
   padding: 0;
}
